<div class="mt-4 d-flex align-items-center">
  <select class="form-control form-control-sm checkbox-select-all-options" name="action" required>
    <option value="">-- Select action --</option>
    {{#if deletedCount includeZero=true}}
      <option value="delete">Delete</option>
    {{else}}
      <option value="restore">Restore</option>
      <option value="forceDelete">Force delete</option>
    {{/if}}
  </select>

  <button class="btn btn-primary btn-sm btn-execute" disabled>Excute</button>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(){
      var checkboxAll = $('#checkbox-all');
      var courseItemCheckbox = $('input[name="coursesIds[]"]');
      var execBtn = $('button.btn-execute');

      //checkbox all checked
      checkboxAll.change(function(){
        var isCheckedAll = $(this).prop('checked');
        courseItemCheckbox.prop('checked', isCheckedAll);
        renderCheckallSubmitBtn();
      })

      // Course item checkbox changed
      courseItemCheckbox.change(function(){
        var isCheckedAll = courseItemCheckbox.length === $('input[name="coursesIds[]"]:checked').length;
        checkboxAll.prop('checked', isCheckedAll);
        renderCheckallSubmitBtn();
      })

      // re-render check all submit button
      function renderCheckallSubmitBtn(){
        var countChecked = $('input[name="coursesIds[]"]:checked').length;
        if(countChecked){
          execBtn.removeAttr('disabled');
        } else {
          execBtn.attr('disabled', true);
        }
      } 
    })
</script>